<header class="header">
    <nav class="navbar">
        <div class="container navbar-container">
            <a href="{{rootPath}}index.html" class="nav-brand">
                <span class="brand-icon">&#9889;</span>
                <span class="brand-name">HIME Tools</span>
            </a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{{rootPath}}index.html" class="nav-link" data-page="index">首页</a>
                </li>
                <li class="nav-item">
                    <a href="{{rootPath}}tools/ip-binding.html" class="nav-link" data-page="ip-binding">IP绑定</a>
                </li>
                <li class="nav-item">
                    <a href="{{rootPath}}tools/password-generator.html" class="nav-link" data-page="password-generator">密码生成</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
